#текст
.privetstvayu{
    align-items: center;
    justify-content: center;
}
.privetstvayu img{
    position: absolute;
}
.privetstvayu h1{
    font-size: 65px;
    mix-blend-mode: normal;
}
.privetstvayu1{
    align-items: center;
    justify-content: center;
}
.privetstvayu1 img{
    position: absolute;
}
.privetstvayu1 h1{
    font-size: 80px;
    mix-blend-mode: normal;
}
.slova{
    align-items: center;
    justify-content: center;
}
.slova img{
    position: absolute;
}
.slova h1{
    font-size: 60px;
    mix-blend-mode: normal;
}
.brat{
    align-items: center;
    justify-content: center;
}
.brat img{
    position: absolute;
}
.brat h1{
    font-size: 60px;
    mix-blend-mode: normal;
}
.mama{
    align-items: center;
    justify-content: center;
}
.mama img{
    position: absolute;
}
.mama h1{
    font-size: 60;
    mix-blend-mode: normal;
}
.ya{
    align-items: center;
    justify-content: center;
}
.ya img{
    position: absolute;
}
.ya h1{
    font-size: 60;
    mix-blend-mode: normal;
}
#шапка
header{
    background: linear-gradient(red,yellow)
}
ul{
    list-style: red;
    margin: 0;
    padding: 60px;
}
a{
    font-size: 75px;
    padding: 20px;
color: yellowgreen;
text-decoration: red;
}
#картинки
.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover{
    transform: scale(1,3);
}
a:hover{
    color: red;
    text-decoration: none;
}
li{
    display: inline;
    color: yellowgreen;
}
